.card {
  clip-path: polygon(7% 0, 100% 0%, 100% 50%, 100% 95%, 93% 100%, 0 100%, 0 5%);
}

.animation_notification {
  animation: 0.3s alternate appear;
}

@keyframes appear {
  from {
    margin-top: -100px;
    opacity: 0;
  }

  to {
    margin-top: 8px;
    opacity: 1;
  }
}