:root {
  --headerHeight: 60px;
  --primaryColor: #334155;
  --secondaryColor: #eab308;
  --tertiaryColor: #4693ff;
  --primaryBackground: #fffdf5;
  --secondaryBackground: #eeeeee;
  --titleColor: #202020;
  --subtitleColor: #5d5d5d;
  --modalBackground: #000000e7;
}